@use 'styles/' as *;
.root {
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}
.title {
    @include flex(space-between, center);
    padding: 16px 14px;
    line-height: 1;
    font-size: 1.76rem;
    color: $blackColor;
    font-weight: 600;
    & > svg {
        font-size: 1.8rem;
    }
    cursor: pointer;
}
.main {
    display: none;
    border-top: 1px solid rgba($blackColor, 0.1);
    min-height: 40px;
}

.isMain {
    display: block;
}
