@use 'styles/' as *;
.sm-root {
    @include flex(unset, unset);
    gap: 30px;
}
.sm-sidebar {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid rgb(227, 227, 227);
    width: 260px;
    height: fit-content;
    flex-basis: 260px;
    padding-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.sm-sidebar-title {
    text-transform: capitalize;
    @include flex(space-between, center);
    padding: 20px;
    background-color: $blackColor;
    & > .name {
        font-size: 1.92rem;
        line-height: 1.3;
        font-weight: 600;
    }
    & > .quantity {
        font-size: 2rem;
        font-weight: 400;
        opacity: 0.8;
    }
    &--primary {
        background-color: $lightBlue;
    }
}

.sm-sidebar-list {
    padding-top: 10px;
}

.sm-sidebar-item {
    @include flex(space-between, center);
    min-height: 44px;
    padding: 10px 20px;
    & > .name {
        font-size: 1.6rem;
        color: $blackColor;
    }
    & > .quantity {
        color: $blackColor;
        padding: 0 10px;
        border-radius: 4px;
        font-size: 1.3rem;
        background-color: rgba($blackColor, 0.08);
    }
}

.sm-sidebar-itemActive {
    background-color: rgba($blackColor, 0.08);
}

.sm-sidebar-itemActive--primary > * {
    color: $lightBlue !important;
}

.sm-main {
    flex: 1;
}

.sm-main-item {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid rgb(227, 227, 227);
    margin-bottom: 30px;
    border-radius: 8px;
}

.sm-main-top {
    @include flex(unset, center);
    background-color: rgba(41, 43, 44, 0.085);
    padding: 6px 10px;
    gap: 6px;
    & > .flag {
        width: 26px !important;
        height: 17px !important;
    }
    & > .name {
        color: $blackColor;
        font-size: 1.7rem;
        font-weight: 600;
    }
    & > .iso {
        font-weight: 600;
        font-size: 1.6rem;
        color: rgba($blackColor, 0.5);
    }
}

.sm-main-center {
    @include flex(unset, unset);
    & > .item-center {
        padding: 6px 10px;
        font-size: 1.6rem;
        font-weight: 600;
        color: $blackColor;
        flex: 1;
    }
}

.sm-main-bottom {
    .item-bottom {
        @include flex(unset, unset);
    }
    .item-bottom-content {
        padding: 6px 10px;
        color: $blackColor;
        font-size: 1.6rem;
        font-weight: 500;
        flex: 1;
    }
}

@include pc {
    .sm-sidebar-item {
        transition: $transition-base;
        cursor: pointer;
        &:hover {
            background: rgba($blackColor, 0.08);
        }
    }
}

@include mobile {
    .sm-root {
        flex-direction: column;
        gap: 0;
    }
    .sm-sidebar {
        border: none;
        border-top: 1px solid rgb(227, 227, 227);
        flex-basis: unset;
        width: unset;
        padding: 0;
        border-radius: 0;
    }
    .sm-sidebar-title {
        padding: 10px 20px;
    }
    .sm-sidebar-list {
        @include flex(space-between, unset);
        overflow-x: scroll;
        padding: 8px 20px;
    }
    .sm-sidebar-item {
        padding: 10px 0;
    }
    .sm-sidebar-item > .name {
        width: max-content;
        margin-right: 4px;
        line-height: 1.2;
    }
    .sm-main {
        padding: 20px;
    }
}
