@use 'styles/' as *;



.root {
    width: 100%;
    position: relative;
    &::after {
        content: '';
        width: 60px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff);
        will-change: opacity;
        pointer-events: none;
        transition: linear 0.3s;
        opacity: 1;
    }
}

.title {
    color: #000;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-right: 20px;
    text-transform: capitalize;
}

.list {
    @include flex(unset, unset);
    height: 305px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 10px;
    overflow-x: scroll;
}
.item {
    position: relative;
    animation-name: fadeIn;
    animation-duration: 1s;
    cursor: pointer;
    transition: $transition-base;
    &:hover {
        opacity: 0.9;
    }
}

.top {
    position: relative;
    width: 100%;
    height: 255px;
}
.image {
    height: 255px;
    width: 170px;
    border-radius: 4px;
    overflow: hidden;
}
.overplay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.3s linear;
    z-index: 2;
}

.dramaType {
    z-index: 2;
    position: absolute;
    background-color: white;
    opacity: 0.95;
    right: 10px;
    top: 10px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    padding: 4px;
    font-size: 1rem;
    border-radius: 2px;
}

.imageLoad {
    background-color: red;
}

.bottom {
    width: 100%;
    padding: 6px 0px 0;
    height: 30px;
}
.name {
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    @include text-overflow(1);
}

@include tablet {
    .list {
        height: 270px;
        margin-bottom: 16px;
    }
    .item:nth-child(1) {
        margin-left: 20px;
    }
    .title {
        margin: 0;
        padding: 0 20px;
    }
    .top {
        height: 225px;
    }

    .image {
        height: 225px;
        width: 150px;
    }
}

@include mobile {
    .root {
        margin-bottom: 10px;
        &::after {
            display: none;
        }
    }
    .list {
        height: 270px;
        margin-bottom: 16px;
    }
    .item:nth-child(1) {
        margin-left: 20px;
    }
    .title {
        margin: 0;
        padding: 0 20px;
    }

    .top {
        height: 225px;
    }

    .image {
        height: 225px;
        width: 150px;
    }
}

@include mobile-tablet {
    .dramaType {
        top: 6px;
        right: 6px;
    }
}
