.image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.overplay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 0.3s linear;
    z-index: 2;
}
