@use 'styles/' as *;
.root {
    max-width: 1400px;
    padding: 10px 40px;
    margin: 0 auto;
    min-height: calc(100vh - 64px);
}

.keyword {
    color: $blackColor;
    font-size: 1.92rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.item {
    flex-basis: calc(100% / 6 - 50px / 6);
    width: calc(100% / 6 - 50px / 6);
    padding-bottom: calc((100% / 6 - 50px / 6) * 1.5 + 60px);
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}
.item > span > img {
    height: calc(100% - 60px) !important;
}

.infoMore {
    position: absolute;
    height: 30px;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 2;
    color: black;
    @include flex(space-between, unset);
}

.release {
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.8;
}

.type {
    height: fit-content;
    text-transform: capitalize;
    font-size: 1.24rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 3px;
    border-radius: 2px;
    font-weight: 500;
    opacity: 0.8;
    padding: 2px 8px;
}

.name {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 30px;
    color: $blackColor;
    background-color: $whiteColor;
    font-size: 1.5rem;
    font-weight: 500;
    @include text-overflow(1);
    z-index: 2;
    line-height: 30px;
}

.error {
    color: $blackColor;
    font-size: 1.84rem;
    line-height: 1.4;
    font-weight: 500;
    & > span {
        font-weight: 600;
        font-size: 1.84rem;
    }
}

.dramaType {
    z-index: 2;
    position: absolute;
    background-color: white;
    right: 10px;
    top: 10px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1px 8px;
    font-size: 1.2rem;
    border-radius: 2px;
}

@include pc {
    .item:nth-child(6n) {
        margin-right: 0;
    }
}

@include mobile {
    .item {
        flex-basis: calc(100% / 2 - 10px / 2);
        width: calc(100% / 2 - 10px / 2);
        padding-bottom: calc((100% / 2 - 10px / 2) * 1.5 + 30px);
        position: relative;
    }
    .item:nth-child(2n) {
        margin-right: 0;
    }
    .dramaType {
        top: 6px;
        right: 6px;
    }
    .name {
        font-size: 1.4rem;
    }
}

@include tablet {
    .item {
        flex-basis: calc(100% / 5 - 40px / 5);
        width: calc(100% / 5 - 40px / 5);
        padding-bottom: calc((100% / 5 - 40px / 5) * 1.5 + 30px);
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .item:nth-child(5n) {
        margin-right: 0;
    }
}

@include mobile-tablet {
    .root {
        padding: 0 20px;
    }
    .keyword {
        padding-top: 10px;
    }
    .error {
        padding-top: 10px;
    }
}
