@use 'styles/' as *;
.lfq-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lfq-item {
    display: flex;
    width: 100%;
    height: 141px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid rgba($blackColor, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.lfq-poster {
    width: 94px;
    height: 100%;
}
.lfq-info {
    padding: 10px 15px;
    flex: 1;
    flex-direction: column;
    @include flex(center, unset);
}
.lfq-info-top {
    & > .name {
        line-height: 1.4;
        color: $blackColor;
        font-size: 1.92rem;
        font-weight: 700;
    }
    & > .release {
        line-height: 1.4;
        color: $blackColor;
        font-size: 1.6rem;
        opacity: 0.6;
    }
}

.lfq-info-bottom {
    margin-top: 10px;
    & > .description {
        line-height: 1.3;
        color: $blackColor;
        font-size: 1.6rem;
        opacity: 0.8;
        @include text-overflow(2);
    }
}

@include mobile {
    .lfq-item {
        border-radius: 4px;
    }
    .lfq-info-top {
        & > .name {
            font-size: 1.6rem;
            font-weight: 600;
        }
        & > .release {
            font-size: 1.44rem;
        }
    }

    .lfq-info-bottom {
        & > .description {
            font-size: 1.44rem;
        }
    }
}
