$mobile-width: 600px;
$tablet-width: 1024px;

$darkBlue: rgb(3, 37, 65);
$lightBlue: #04b4e3;
$lighterGreen: rgb(192, 254, 207);
$lightGreen: #88cc9d;

$logoGreen: rgb(144, 206, 161);
$logoOrange: rgb(253, 193, 112);
$whiteColor: #fff;
$blackColor: #000;

$transition-base: all ease 0.3s;

$font2: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, Helvetica, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo,
    ＭＳ Ｐゴシック, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
