@use 'styles/' as *;
.root {
    @include flex(center, center);
}

.wrapper {
    margin-top: 40px;
    position: relative;
    width: 400px;
    height: 600px;
    padding: 20px;
    background-color: $whiteColor;
    z-index: 3;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgb(0 0 0 / 4%);
}

.title {
    margin: 10px 0 30px;
    color: $blackColor;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-align: center;
}

.item {
    display: flex;
    height: 46px;
    width: 93%;
    margin: 20px auto;
    overflow: hidden;
    transition: $transition-base;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.1);
}
.itemImage {
    @include flex(center, center);
    padding: 0 20px;
    & > svg {
        width: 20px;
        height: 20px;
    }
}

.describe {
    flex: 1;
    height: 100%;
    line-height: 46px;
    margin-right: 44px;

    color: black;

    letter-spacing: 0.05rem;
    font-size: 1.6rem;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 40px;
    left: 0;

    width: 100%;
    text-align: center;
    text-decoration: underline;

    & > a {
        font-size: 1.2rem;
        color: black;
    }
}

@include pc {
    .item:hover {
        background-color: $darkBlue;
    }
    .item:hover > .describe {
        color: $whiteColor;
    }
}

@include mobile {
    .root {
        align-items: flex-start;
    }

    .wrapper {
        width: calc(100% - 40px);
    }
    .logo {
        margin: 0 auto;
        margin-top: 40px;
        width: 30px;
        height: 30px;
    }
    .title {
        margin: 20px 0;
        font-size: 2rem;
        font-weight: 500;
    }
    .item:active {
        opacity: 0.9;
    }

    .itemImage {
        flex-basis: 50px;
    }

    .describe {
        margin-right: 0;
        font-size: 1.4rem;
    }
}
