@use 'styles/' as *;

.root {
    margin-top: 20px;
    height: 100%;
}
.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex-basis: calc(100% / 6 - 50px / 6);
    width: calc(100% / 6 - 50px / 6);
    padding-bottom: calc((100% / 6 - 50px / 6) * 1.5 + 30px);
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.item:hover {
    transition: opacity ease-in 0.3s;
    opacity: 0.9;
}

.item > span > img {
    height: calc(100% - 30px) !important;
}

.image {
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 4px;
}

.name {
    bottom: 0;
    position: absolute;
    z-index: 2;
    color: $blackColor;
    background-color: $whiteColor;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    @include text-overflow(1);
    overflow: hidden;
}

@include pc {
    .item:nth-child(6n) {
        margin-right: 0;
    }
}

@include tablet {
    .item {
        flex-basis: calc(100% / 4 - 15px / 4);
        width: calc(100% / 4 - 15px / 4);
        padding-bottom: calc((100% / 4 - 15px / 4) * 1.5);
        position: relative;
        margin-right: 5px;
    }
    .item:nth-child(4n) {
        margin-right: 0;
    }
}

@include mobile {
    .is3Mobile {
        flex-basis: calc(100% / 3 - 10px / 3);
        width: calc(100% / 3 - 10px / 3);
        padding-bottom: calc((100% / 3 - 10px / 3) * 1.5);
        position: relative;
        margin-right: 5px;
    }

    .is3Mobile:nth-child(3n) {
        margin-right: 0;
    }

    .is2Mobile {
        flex-basis: calc(100% / 2 - 5px);
        width: calc(100% / 2 - 5px);
        padding-bottom: calc((100% / 2 - 10px) * 1.5);
        position: relative;
        margin-right: 10px;
    }

    .is2Mobile:nth-child(2n) {
        margin-right: 0;
    }

    .name {
        font-size: 1.4rem;
    }
}
