@use 'styles/' as *;
.root {
    display: flex;
}

@include tablet {
    .root {
        width: 100%;
        flex-wrap: wrap;
    }
}

@include mobile {
    .root {
        width: 100%;
        flex-wrap: wrap;
    }
}
