@import 'styles/_mixin.scss';

.root {
    position: relative;
    cursor: pointer;
}

.login {
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
    font-weight: 600;
    margin-left: 18px;
}

.avatar {
    position: relative;
    height: 28px;
    width: 28px;
    margin-left: 18px;
    border-radius: 50px;
    overflow: hidden;
}

@include mobile {
    .avatar {
        position: relative;
    }
}
