@use 'styles/' as *;

.header {
    margin-bottom: 64px;
}
.root {
    width: 100%;
    height: 64px;
    background-color: $darkBlue;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: $transition-base;
}
.isDown {
    top: -64px;
}

.wrapper {
    @include flex(space-between, center);
    max-width: 1400px;
    height: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

.left {
    @include flex(none, center);
}

.right {
    @include flex(none, center);
}

.menu {
    display: none;
}

.logo {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    background: linear-gradient(to right, $lightGreen 30%, $lightBlue 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    & > a {
        font-size: 3rem;
    }
}
.navigate {
    margin-left: 14px;
}
.navigateItem {
    position: relative;
    margin: 0 2px;
    padding: 8px;
    font-size: 1.52rem;

    transition: $transition-base;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}
.navigateItemActive {
    opacity: 1;
}
.auth {
    margin-right: 14px;
    margin-left: 10px;
}
.search {
    @include flex(center, center);
    & > svg {
        color: rgba(255, 255, 255, 0.9);
        font-size: 2.8rem;
    }
    cursor: pointer;
}

.searchContent {
    display: none;
}

.isSearch {
    display: block;
}

@include tablet {
    .navigate {
        display: none;
    }
    .wrapper {
        padding: 0 20px;
    }
    .menu {
        @include flex(center, center);
        & > div > a,
        & > svg > *,
        & > svg {
            font-size: 2.2rem;
            color: $whiteColor;
            stroke: $whiteColor;
        }
    }
    .logo > a {
        font-size: 2.6rem;
    }
    .auth {
        display: none;
    }
}

@include mobile {
    .navigate {
        display: none;
    }
    .wrapper {
        padding: 0 20px;
    }
    .menu {
        @include flex(center, center);
        & > div > a,
        & > svg > *,
        & > svg {
            font-size: 2.2rem;
            color: $whiteColor;
            stroke: $whiteColor;
        }
    }
    .logo > a {
        font-size: 2.6rem;
    }
    .auth {
        display: none;
    }
}
