@use 'styles/' as *;
.root {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: $whiteColor;
}

.media {
    width: 100%;
}
.main {
    @include flex(unset, unset);
    gap: 20px;
    width: 100%;
    padding: 0 40px;
    min-height: calc(100vh - 64px - 100vw * 0.5625);
}
.name {
    @include text-overflow(1);
    padding: 0 40px;
    height: 40px;
    line-height: 40px;
    color: $blackColor;
    font-size: 1.52rem;
    font-weight: 600;
}

.left {
    flex-basis: calc(100% - 470px);
    max-width: calc(100% - 470px);
    flex: 1;
}
.right {
    flex-basis: 450px;
    width: 450px;
}
.titleSimilar {
    font-size: 1.94rem;
    color: $blackColor;
    margin-bottom: -6px;
    padding-top: 4px;
    line-height: 1;
    font-weight: 600;
}

@include pc {
    .media {
        padding: 0 40px;
    }
    .main {
        margin: 30px 0;
    }
    .right > div > div > a,
    .right > div > div > div {
        flex-basis: calc(100% / 3 - 20px / 3);
        width: calc(100% / 3 - 20px / 3);
        padding-bottom: calc((100% / 3 - 20px / 3) * 1.5);
    }
    .right > div > div > a:nth-child(3n),
    .right > div > div > div:nth-child(3n) {
        margin-right: 0;
    }
}

@include mobile-tablet {
    .root {
        width: 100%;
    }

    .main {
        flex-direction: column;
        padding: 0 20px;
        gap: 0;
    }
    .name {
        padding: 0 20px;
    }
    .left {
        max-width: unset;
        width: 100%;
        order: 1;
    }
    .right {
        width: 100%;
        flex-basis: unset;
    }
    .titleSimilar {
        font-size: 1.8rem;
    }
}
