@use 'styles/' as *;

.root {
    position: fixed;
    left: 0;
    top: 64px;
    transform: translateX(-100%);
    width: 60%;
    height: calc(100vh - 64px);
    background: rgba($darkBlue, 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: $transition-base;
}
.show {
    transform: translateX(0);
}
.isDown {
    height: 100vh;
    top: 0;
}
.list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.item {
    font-size: 1.6rem;

    margin-bottom: 4px;
    padding: 3px 0 3px 20px;
}
.itemActive {
    border-left: 2px solid white;
    padding-left: 18px;
}
