@use 'styles/' as *;

.root {
    position: fixed;
    left: 0;
    top: 64px;
    transform: translateX(-100%);
    width: 90%;
    height: calc(100vh - 64px);
    padding: 20px;
    background: rgba($darkBlue, 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: $transition-base;
}
.show {
    transform: translateX(0);
}
.isDown {
    height: 100vh;
    top: 0;
}
.list {
    display: flex;
    flex-direction: column;
}
.item {
    font-size: 2.08rem;
    padding-bottom: 10px;
    font-weight: 600;
}
