@use 'styles/' as *;
.overplay {
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: $transition-base;
}
.root {
    position: fixed;
    left: 0;
    top: 64px;
    transform: translateX(-100%);
    width: 60%;
    height: calc(100vh - 64px);
    background: rgba($darkBlue, 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 9999;
    transition: $transition-base;
}
.show {
    transform: translateX(0);
}
.isDown {
    height: 100vh;
    top: 0;
}
.list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.item {
    font-size: 1.6rem;

    margin-bottom: 4px;
    padding: 3px 0 3px 20px;
    opacity: 0.8;
    transition: $transition-base;
}
.itemActive {
    border-left: 2px solid white;
    font-weight: 500;
    padding-left: 18px;
    opacity: 1;
}

.auth {
    padding: 10px 0 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 32px;
    height: 32px;
}

.name {
    font-size: 1.6rem;
    margin-left: 10px;
}

.status {
    height: 30px;
    line-height: 30px;
    font-size: 1.6rem;
    margin-top: 10px;
}
