@use 'styles/' as *;

.player {
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
    position: relative;
    background-color: black;

    &:hover > .controls {
        display: block;
    }
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.episodes {
    display: flex;
    margin: 4px 0 12px;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    color: $blackColor;
    font-weight: 400;
    font-size: 1.6rem;
}
.episode {
    @include flex(center, center);
    color: #000;
    background: #e7ebed;
    font-size: 16px;
    width: 112px;
    height: 36px;
    border-radius: 4px;
    color: $blackColor;
    cursor: pointer;
}

.episodeActive {
    background-color: #3e8afa;
    color: $whiteColor;
}

@include tablet {
    .seasons,
    .episodes {
        padding: 0 20px;
    }

    .episode {
        flex-basis: calc(100% / 6 - 10px);
        width: calc(100% / 6 - 10px);
        font-size: 1.4rem;
        height: 36px;
        border-radius: 2px;
    }
}

@include mobile {
    .loading {
        height: 40px;
        width: 40px;
    }
    .seasons,
    .episodes {
        padding: 0 20px;
    }
    .episode {
        flex-basis: calc(100% / 4 - 10px);
        width: calc(100% / 4 - 10px);
        font-size: 1.4rem;
        height: 36px;
        border-radius: 2px;
    }
}
