@use 'styles/' as *;
.root {
    width: 100%;
}
.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 26px;
}
.item {
    flex-basis: calc(20% - 26px);
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding-bottom: 8px;
    & img {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

@include mobile {
    .list {
        gap: 10px;
    }
    .item {
        flex-basis: calc(50% - 10px);
        border-radius: 6px;
    }
}
