.input-range__label-container {
    display: none !important;
}

.input-range__track {
    background: rgba(255, 255, 255, 0.3) !important;
}

.input-range__track--active {
    background: rgba(255, 255, 255, 0.9) !important;
}

.input-range__slider {
    background: rgba(255, 255, 255, 0.9) !important;
    border: 1px solid rgba(255, 255, 255, 0.9) !important;
}

.ui-video-seek-slider > .track > .main {
    height: 4px;
}
