@use 'styles/' as *;

.root {
    color: none;
}
.title {
    font-size: 1.94rem;
    color: $blackColor;
    text-transform: capitalize;
    margin-bottom: 14px;
    margin-top: -4px;
    line-height: 1;
    font-weight: 600;
}
.list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3 - 5px);
    width: calc(100% / 3 - 5px);
    position: relative;
    padding-bottom: calc((100% / 3 - 5px) * 1.5 + 30px);
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.item > span > img {
    height: calc(100% - 30px);
}
.info {
    position: absolute;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: white;
    color: black;
    z-index: 2;
    font-size: 1.4rem;
}

@include mobile {
    .list {
        margin-bottom: 20px;
    }
    .item:nth-child(3n) {
        margin-right: 0;
    }
    .title {
        font-size: 1.8rem;
    }
}
